Source: plexus-utils2
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Ludovic Claude <ludovic.claude@laposte.net>
Build-Depends:
 debhelper (>= 11),
 default-jdk,
 default-jdk-doc,
 junit4,
 libmaven-javadoc-plugin-java,
 libmaven-plugin-testing-java,
 maven-debian-helper
Standards-Version: 4.5.0
Vcs-Git: https://salsa.debian.org/java-team/plexus-utils2.git
Vcs-Browser: https://salsa.debian.org/java-team/plexus-utils2
Homepage: http://codehaus-plexus.github.io/plexus-utils/

Package: libplexus-utils2-java
Architecture: all
Depends: ${misc:Depends}
Suggests: libplexus-utils2-java-doc
Breaks: libplexus-utils-java
Replaces: libplexus-utils-java
Provides: libplexus-utils-java (= 1:1.5.15-5)
Description: utilities for the Plexus framework
 The Plexus project provides a full software stack for creating and executing
 software projects. Based on the Plexus container, the applications can
 utilise component-oriented programming to build modular, reusable components
 that can easily be assembled and reused.
 .
 While Plexus is similar to other inversion-of-control (IoC) or dependency
 injection frameworks such as the Spring Framework, it is a full-fledged
 container that supports many more features such as:
 .
  * Component lifecycles
  * Component instantiation strategies
  * Nested containers
  * Component configuration
  * Auto-wiring
  * Component dependencies, and
  * Various dependency injection techniques including constructor injection,
   setter injection, and private field injection.

Package: libplexus-utils2-java-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, default-jdk-doc
Suggests: libplexus-utils2-java
Provides: libplexus-utils-java-doc
Description: utilities for the Plexus framework - documentation
 The Plexus project provides a full software stack for creating and executing
 software projects. Based on the Plexus container, the applications can
 utilise component-oriented programming to build modular, reusable components
 that can easily be assembled and reused.
 .
 While Plexus is similar to other inversion-of-control (IoC) or dependency
 injection frameworks such as the Spring Framework, it is a full-fledged
 container that supports many more features such as:
 .
  * Component lifecycles
  * Component instantiation strategies
  * Nested containers
  * Component configuration
  * Auto-wiring
  * Component dependencies, and
  * Various dependency injection techniques including constructor injection,
   setter injection, and private field injection.
 .
 This package provides the API documentation for libplexus-utils2-java.
